:root {
  --white: #ffffff;
  --bg-accent-green: #58BD7D;
  --bg-accent-blue: #2A85FF;
  --bg-accent-purple: #9747FF;
  --bg-accent-sky: #4BC9F0;
  --violet: #BB80FD;
  --color-text-white: #ffffff;
}
