.icon-diamond {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1853 12.1853L12 6L5.81468 12.1853L12 18.3706L18.1853 12.1853Z' stroke='%23BB81FD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

.icon-check-circle {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='12.0013' cy='11.9998' rx='8.33333' ry='8.33333' fill='%2358BD7D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8137 8.98052C16.1006 9.24656 16.1174 9.69474 15.8514 9.98155L11.2134 14.9816C11.0777 15.1279 10.8865 15.2102 10.687 15.2081C10.4874 15.2061 10.2979 15.12 10.1652 14.971L8.13642 12.6932C7.87623 12.401 7.90213 11.9533 8.19426 11.6931C8.48639 11.4329 8.93413 11.4588 9.19432 11.7509L10.7048 13.4468L14.8127 9.01813C15.0788 8.73132 15.5269 8.71448 15.8137 8.98052Z' fill='%23FCFCFD'/%3E%3C/svg%3E");
}

.icon-error-circle {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.0013' cy='11.9998' r='8.33333' fill='%23D94747'/%3E%3Cpath d='M9.08304 9.08256C9.31356 8.85204 9.68731 8.85204 9.91782 9.08256L12.0004 11.1651L14.083 9.08256C14.3135 8.85204 14.6873 8.85204 14.9178 9.08256C15.1483 9.31307 15.1483 9.68682 14.9178 9.91734L12.8352 11.9999L14.9178 14.0825C15.1483 14.313 15.1483 14.6868 14.9178 14.9173C14.6873 15.1478 14.3135 15.1478 14.083 14.9173L12.0004 12.8347L9.91782 14.9173C9.68731 15.1478 9.31356 15.1478 9.08304 14.9173C8.85253 14.6868 8.85253 14.313 9.08304 14.0825L11.1656 11.9999L9.08304 9.91734C8.85253 9.68682 8.85253 9.31307 9.08304 9.08256Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
}


.icon-flag-vn {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23d80027' d='M196.641 85.337H0v341.326h512V85.337z'/%3E%3Cpath fill='%23ffda44' d='m256 157.279 22.663 69.747H352l-59.332 43.106 22.664 69.749L256 296.774l-59.332 43.107 22.664-69.749L160 227.026h73.337z'/%3E%3C/svg%3E");
}

.icon-flag-kr {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23f5f5f5' d='M503.172 423.725H8.828A8.829 8.829 0 0 1 0 414.897V97.104a8.829 8.829 0 0 1 8.828-8.828h494.345a8.829 8.829 0 0 1 8.828 8.828v317.793a8.83 8.83 0 0 1-8.829 8.828z'/%3E%3Cpath fill='%23ff4b55' d='M305.009 182.533c-40.563-27.041-95.35-15.986-122.374 24.506-13.555 20.211-8.045 47.674 12.235 61.195 20.265 13.521 47.64 8.03 61.161-12.252 13.521-20.281 40.914-25.704 61.178-12.254 20.298 13.521 25.757 40.984 12.217 61.195'/%3E%3Cpath fill='%2341479b' d='M182.634 207.04c-13.555 20.211-8.045 47.674 12.235 61.195 20.265 13.521 47.64 8.03 61.161-12.252 13.521-20.281 40.914-25.704 61.178-12.254 20.298 13.521 25.757 40.984 12.217 61.195-27.006 40.632-81.775 51.549-122.338 24.507-40.526-27.04-51.494-81.828-24.453-122.391'/%3E%3C/svg%3E");
}

.icon-flag-de {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23d80027' d='M0 85.331h512v341.337H0z'/%3E%3Cpath fill='%23000000' d='M0 85.331h512v113.775H0z'/%3E%3Cpath fill='%23ffda44' d='M0 312.882h512v113.775H0z'/%3E%3C/svg%3E");
}

.icon-flag-in {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 283.46 283.46'%3E%3Cpath fill='%23f2963b' d='M5.165 50.615h273.252v61.484H5.165z'/%3E%3Cpath fill='%23ffffff' d='M5.149 112.115h273.269v59.202H5.149z'/%3E%3Cpath fill='%2311892e' d='M5.165 171.309h273.252v61.479H5.165z'/%3E%3Ccircle cx='141.73' cy='141.73' r='20' fill='%2321296f'/%3E%3C/svg%3E");
  transform: translateY(1px); /* canh baseline vá»›i text */
}

.icon-flag-hk {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='512' height='512' fill='%23d80027'/%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M273.6 214.4c-3.9 16.1-10.8 13.1-14.2 27.1-19.9-4.8-32.2-24.8-27.4-44.7 4.8-19.9 24.8-32.2 44.7-27.4-6.8 28.1.3 30.6-3.1 45z'/%3E%3Cpath d='M221.9 226.4c14.1 8.7 9.1 14.3 21.4 21.8-10.7 17.5-33.6 22.9-51 12.2-17.5-10.7-22.9-33.6-12.2-51 24.7 15.1 29.2 9.2 41.8 17z'/%3E%3Cpath d='M217.3 279.3c12.6-10.8 16.4-4.2 27.4-13.6 13.3 15.6 11.4 39-4.1 52.3-15.6 13.3-39 11.4-52.3-4.1 22-18.8 17.8-24.9 29-34.6z'/%3E%3Cpath d='M266.2 300c-6.3-15.3 1-16.9-4.5-30.3 18.9-7.8 40.6 1.2 48.5 20.1 7.8 18.9-1.2 40.6-20.1 48.5-11.1-26.7-18.2-24.6-23.9-38.3z'/%3E%3Cpath d='M301 259.9c-16.5 1.3-15.7-6.2-30.2-5.1-1.6-20.4 13.7-38.3 34.1-39.9 20.4-1.6 38.3 13.7 39.9 34.1-28.9 2.3-29 9.7-43.8 10.9z'/%3E%3C/g%3E%3C/svg%3E");
  transform: translateY(1px);
}

